<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataTypestoExport" value=""/>
    <add key="AINamesForDev" value=""/>
    <add key="AINamesForGraph" value=""/>
    <add key="IsGraph" value=""/>
    <add key="StorageName" value=""/>
    <add key="StorageKey" value=""/>
    <add key="Container" value=""/>
    <add key="OutputFolderForGraph" value=""/>
    <add key="OutputFolderForDev" value=""/>
    <!--Format: 2016-02-02 01:00:00. If ExportStartDate is empty, download the files which modified time >=utcnow.addhours(-1).tostring(HH) and < utcnow.tostring(HH)), else download the files which modified time >=ExportStartDate and (< ExportEndDate or <utcnow.addhours(-1).tostring(HH)).-->
    <add key="ExportStartDate" value=""/>
    <!--Format: 2016-02-02 01:00:00. If ExportEndDate and ExportStartDate is not empty, download the files which modified time >=ExportStartDate and < ExportEndDate.-->
    <add key="ExportEndDate" value=""/>
    <add key="AdminList" value=""/>
    <add key="SmtpHost" value=""/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Domain" value=""/>
    <add key="LogPathForGraph" value=""/>
    <add key="LogPathForDev" value=""/>
    <add key="SleepTime" value=""/>  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>