<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AINamesForGraph" value="****"/>
    <add key="AINamesForDev" value="***"/>
    <add key="IsGraph" value="0"/>
    <add key="DTNameForGraph" value="*****"/>
    <add key="DTNameForDev" value="*****"/>
    <add key="StorageName" value="****"/>
    <add key="StorageKey" value="****"/>
    <add key="ContainerForGraph" value="***"/>
    <add key="ContainerForDev" value="***"/>
    <add key="OutputFolder" value="G:\Monitor\Services\webserverlogcontainer\"/>
    <!--Format: 2016-02-02 01:00:00. If ExportStartDate is empty, download the files which modified time >=utcnow.addhours(-1).tostring(HH) and < utcnow.tostring(HH)), else download the files which modified time >=ExportStartDate and (< ExportEndDate or <utcnow.addhours(-1).tostring(HH)).-->
    <add key="ExportStartDate" value="2016-04-28 00:00:00"/>
    <!--Format: 2016-02-02 01:00:00. If ExportEndDate and ExportStartDate is not empty, download the files which modified time >=ExportStartDate and < ExportEndDate.-->
    <add key="ExportEndDate" value="2016-04-28 07:00:00"/>
    <add key="AdminList" value="**;**"/>
    <add key="SmtpHost" value="smtp.163.com"/>
    <add key="UserName" value="*****"/>
    <add key="Password" value="*****"/>
    <add key="Domain" value=""/>
    <add key="ServiceMapPath" value="ServiceMap.xml"/>
    <add key="LogPath" value="G:\Monitor\Services\webserverlogcontainer\log\Dev\{0}\{1}Log.txt"/>
    <add key="LastUpdateTime" value=""/>
    <add key="ConnStr" value="*****"/>  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
